extends layout

block content
	- var id = shoe ? (shoe.id ? shoe.id : 0) : 0
	- var enable = shoe ? shoe.enable : false
	- var image = shoe ? shoe.image : false
	- var effi = shoe ? (shoe.baseeffi ? shoe.baseeffi : 10) : 0
	- var luck = shoe ? (shoe.baseluck ? shoe.baseluck : 10) : 0
	- var comf = shoe ? (shoe.basecomf ? shoe.basecomf : 10) : 0
	- var resi = shoe ? (shoe.baseresi ? shoe.baseresi : 10) : 0
	- var createdAt = (shoe ? (shoe.createdAt ? moment(shoe.createdAt) : moment()) : moment()).format('YYYY-MM-DD HH:mm')
	form(action='/shoeedit/update' method='post' enctype='multipart/form-data')
		input(hidden=true type='checkbox' name='image' checked=image)
		table(border=1)
			tr
				if (shoe)
					if (shoe.id)
						td
							img(width=128 height=96 src=`${imgdir}/${shoe.id}.png` alt="NoImage")
					else
						td NoImage
				else
					td 画像
				td
					input(type='file' accept='image/*' name='file')
			tr
				td id
				td
					span ##{id}
					input(hidden=true name='id' value=id)
			tr
				td enable
				td
					input(hidden=false type='checkbox' name='enable' checked=enable)
			tr
				td Type
				td
					select(name='type')
						option(value=0 selected=shoe.type==0) Sneaker
						option(value=1 selected=shoe.type==1) Shoebox
			tr
				td Class
				td
					select(name='class')
						option(value=0 selected=shoe.class==0) Walker
						option(value=1 selected=shoe.class==1) Jogger
						option(value=2 selected=shoe.class==2) Runner
						option(value=3 selected=shoe.class==3) Trainer
			tr
				td Quality
				td
					select(name='quality')
						option(value=0 selected=shoe.quality==0) Common
						option(value=1 selected=shoe.quality==1) Uncommon
						option(value=2 selected=shoe.quality==2) Rare
						option(value=3 selected=shoe.quality==3) Epic
						option(value=4 selected=shoe.quality==4) Legendary
			tr
				td Efficiency
				td
					input(type='text' name='effi' size=1 value=effi/10)
			tr
				td Luck
				td
					input(type='text' name='luck' size=1 value=luck/10)
			tr
				td Comfort
				td
					input(type='text' name='comf' size=1 value=comf/10)
			tr
				td Resilience
				td
					input(type='text' name='resi' size=1 value=resi/10)
			tr
				td createdAt
				td
					input(type='text' name='createdAt' value=createdAt)
		button(type='submit') 送信
