extends layout

block content
	table(border=0)
		tr
			td
				a(href='/') トップ
			td
				a(href='/shoeedit/new') 新規靴
	table(border=1)
		tr
			th id
			th enable
			th image
			th class
			th quality
			th level
			th effi
			th luck
			th comf
			th resi
			th createdAt
		each item in items
			tr(bgcolor=(item.enable ? 'ffffff' : 'bfbfbf'))
				td
					a(href=`shoeedit/${item.id}`) ##{item.id}
				td= item.enable
				td
					if item.image
						image(width=32 height=24 src=`${imgdir}/${item.id}.png`)
					else
						|noimage
				td= item.type == 0 ? ['Walker','Jogger','Runner','Trainer'][item.class] : 'Shoebox'
				td= ['Common','Unommon','Runner','Trainer'][item.quality]
				td= item.level
				td= item.baseeffi/10
				td= item.baseluck/10
				td= item.basecomf/10
				td= item.baseresi/10
				td= moment(item.createdAt).tz('Asia/Tokyo').format('YYYY-MM-DD HH:mm')
