extends layout

block content
	style(type='text/css').
		.time {
			font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
			padding: 2px;
			margin: 4px;
			border: 1px solid #000000;
			background-color: #eeeeee;
		}
		.sol {
			background: #e0ffff
		}
		.bsc {
			background: #ffffe0
		}
	script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js')
	script.
		function updateTime() {
		  let utc = document.getElementById('utc');
		  let jst = document.getElementById('jst');
		  utc.innerHTML = moment().utc().format('YYYY-MM-DD HH:mm:ss')+'(UTC)';
		  jst.innerHTML = moment().format('YYYY-MM-DD HH:mm:ss')+'(JST)';
		}
		window.onload = () => {
		  updateTime();
		  setTimeout(() => setInterval(updateTime, 1000), 1000-moment().milliseconds());
		};
	div
		span.time#utc
		span.time#jst
	a(href=`activationcode`) アクティベーションコード
	table(border=0)
		tr
			td
				a(href='/mints') ミント履歴
			td
				a(href=`/shoeedit`) 靴編集
	table(border=1)
		tr
			th(ROWSPAN=2) 日時
			th(ROWSPAN=2) 借方勘定科目
			th(ROWSPAN=2) 借方金額
			th(ROWSPAN=2) 貸方勘定科目
			th(ROWSPAN=2) 貸方金額
			th(ROWSPAN=2) 摘要
			th(COLSPAN=3) Spending
			th(COLSPAN=4) Wallet
			th(ROWSPAN=2) 負債
		tr
			th GST
			th GMT
			th SOL/BNB
			th SOL/BNB
			th GST
			th GMT
			th USDC
		each item in items
			tr
				td(ROWSPAN=2)= item.createdAt
				td(ROWSPAN=2)= item.kari_kamoku
				td(ROWSPAN=2)= item.kari_price
				td(ROWSPAN=2)= item.kashi_kamoku
				td(ROWSPAN=2)= item.kashi_price
				td(ROWSPAN=2)!= item.tekiyo
				td.sol= item.solana.gst
				td.sol= item.solana.gmt
				td.sol= item.solana.sol
				td.sol= item.solana.wsol
				td.sol= item.solana.wgst
				td.sol= item.solana.wgmt
				td.sol= item.solana.usdc
				td(ROWSPAN=2)= item.acom
			tr.bsc
				td= item.bsc.gst
				td= item.bsc.gmt
				td= item.bsc.bnb
				td= item.bsc.wbnb
				td= item.bsc.wgst
				td= item.bsc.wgmt
				td= item.bsc.usdc
	table(border=1)
		tr
			td(rowspan=2) 資産
			td 負債
		tr
			td 純資産
