extends layout

block content
	a(href=`activationcode`) アクティベーションコード
	table(border=0)
		tr
			td
				a(href='/mints') ミント履歴
			td
				a(href=`/shoeedit`) 靴編集
	table(border=1)
		tr
			th(ROWSPAN=2) 日時
			th(ROWSPAN=2) 借方勘定科目
			th(ROWSPAN=2) 借方金額
			th(ROWSPAN=2) 貸方勘定科目
			th(ROWSPAN=2) 貸方金額
			th(ROWSPAN=2) 摘要
			th(COLSPAN=3) Spending
			th(COLSPAN=4) Wallet
			th(ROWSPAN=2) 負債
		tr
			th GST
			th GMT
			th SOL
			th SOL
			th GST
			th GMT
			th USDC
		each item in items
			tr
				td= item.createdAt
				td= item.kari_kamoku
				td= item.kari_price
				td= item.kashi_kamoku
				td= item.kashi_price
				td!= item.tekiyo
				td= item.gst
				td= item.gmt
				td= item.sol
				td= item.wsol
				td= item.wgst
				td= item.wgmt
				td= item.usdc
				td= item.acom
	table(border=1)
		tr
			td(rowspan=2) 資産
			td 負債
		tr
			td 純資産
