extends layout

block content
	table(border=1)
		tr
			th id
			th 日時
			th 借方勘定科目
			th 借方金額
			th 貸方勘定科目
			th 貸方金額
			th 摘要
			th 残高
		each item in items
			tr
				td= item.createdAt
				td= item.kari_kamoku
				td= item.kari_price
				td= item.kashi_kamoku
				td= item.kashi_price
				td= item.tekiyo
				td= item.text
	table(border=1)
		tr
			td(rowspan=2) 資産
			td 負債
		tr
			td 純資産
